/*-  SELF-CLEARING FLOATS
----------------------------------------------------------------------*/
article ul.screenshots,
.mod {zoom: 1;}

h1, 
article h2 {font-family: georgia, times, serif;}

article ul.download li a {background: #525685 url(../../img/down-trans.png) 12px 10px no-repeat;}

article ul.download li a:hover {background-color: #676a98;}

body {margin-top: 40px;}

section {margin-left: 40px;}

div#overlay {background: url(../../img/bg-trans.png);}

nav ol li a:before {content: "&raquo; ";}

article ul.links li:before {content: "&raquo; ";}

article ul.links li.noStar {margin-left: 36px;}

article ul.links li.noStar:before {content: "";}